:root {
  --color-text1: #fff;
  --color-text2: #26c7ea;
  --color-text3: #94cfff;
  --background-color: #0b0e66;
  --quote-text: #0a3853;
  --heading: #141414;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* header */
header {
  border-bottom: 3px solid var(--color-text1);
  background: rgba(43, 74, 97, 0.87);
  position: absolute;
  right: 50%;
  width: 100%;
  padding: 20px 0px;
  transform: translateX(50%);
}
.flexdiv {
  display: flex;
  align-items: center;
}
.button-forhover:hover {
  background: var(--color-text3);
  color: var(--quote-text);
}
.button-forhover:hover > p {
  color: inherit;
}
.button-forhover:active {
  background: green;
  color: greenyellow;
}
.button-forhover:active > p {
  color: inherit;
}

.nav-ul {
  display: flex;
  align-items: center;
  margin-left: 160px;
  margin-right: 200px;
}
.nav-ul > li:not(:last-child) {
  margin-right: 40px;
}

.now-link > p {
  color: var(--color-text3);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nav-link > p {
  white-space: nowrap;
  color: var(--color-text1);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.nav-link:hover > p {
  color: var(--color-text3);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header-button {
  border-radius: 45px 0px;
  border: 3px solid var(--color-text2);
  background: var(--background-color);
  padding: 10px 35px;
}
.header-button > p {
  white-space: nowrap;
  color: var(--color-text2);
  text-align: justify;
  font-family: "Headland One", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ios-button-div {
  display: flex;
  position: absolute;
  /* трохи дивно */
  transform: translateX(1050px);
}
.ios-button-div > p {
  color: var(--color-text1);
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* hero-section */
.hero-section {
  /*  */
  padding-top: 335px;
  padding-bottom: 180px;
  background: url(./assests/imgs/header-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .container-text {
  width: 280px;
} */
.hero-p {
  color: var(--color-text1);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 280px;
}
.herop-after::after {
  content: "";
  display: block;
  background-image: url(./assests/imgs/whitefork.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  margin-left: 60px;
}
/* .container-text > p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */
/*  */
/* .button-header {
  padding: 25px 75px;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
} */
.button-header {
  padding: 25px 0px;
  border-radius: 45px 0px;
  border: 3px solid var(--color-text2);
  background: var(--background-color);
  display: block;
  width: 260px;
  margin-top: 40px;
}
.button-header > p {
  color: var(--color-text2);
  text-align: center;
  font-family: "Headland One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div2-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.div2-hero > a {
  margin-bottom: 30px;
}
.small-icon {
  width: 30px;
  height: 30px;
}
.icon-hero {
  fill: var(--color-text1);
}
.icon-hero:hover {
  fill: var(--color-text2);
}
.icon-hero:active {
  fill: var(--background-color);
}
.big-icon {
  width: 50px;
  height: 30px;
}
/* quote-section */
/*  */
.quote-section {
  padding-top: 75px;
  padding-bottom: 10px;
}
.quote-section::after {
  content: "";
  width: 400px;
  height: 120px;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url(./assests/imgs/bird.png);
}
.quote-text {
  color: var(--quote-text);
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  /*  */
  font-size: 33px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quote-text:not(:last-child) {
  margin-bottom: 5px;
}
.quoter {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}
/* trailer section */
.trailer-section {
  padding: 330px 0px;
  background: url(./assests/imgs/trailer-background.webp) center/ cover
    no-repeat;
}
/* .trailer-button {
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
  padding: 25px 17px;
} */
.trailer-button {
  border-radius: 45px 0px;
  /*  */
  margin: inherit;
  border: 3px solid var(--color-text2);
  background: var(--background-color);
  width: 260px;
  display: block;
  padding: 25px 0px;
}
.trailer-button > p {
  color: var(--color-text2);
  text-align: center;
  font-family: "Headland One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* cards-section */
.cards-section {
  padding: 60px;
  background-image: url(./assests/imgs/cards-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cards-h2 {
  color: var(--heading);
  text-align: center;
  margin-bottom: 45px;
  font-family: "Headland One", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cards-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 35px;
}
.cards-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards-li > p {
  color: var(--heading);
  display: block;
  margin: 0 auto;
  font-family: "Headland One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.cards-li {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 45px;
  padding-bottom: 35px;
}
.background-afterp1::after {
  content: "";
  background-image: url(./assests/imgs/fork.png);
  background-repeat: no-repeat;
  rotate: 180deg;
  width: 152px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin: 40px 0px;
}

.background-afterp2::after {
  content: "";
  width: 152px;
  height: 100px;
  background-image: url(./assests/imgs/bird-after.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px auto;
}
.background-afterp3::after {
  content: "";
  background-image: url(./assests/imgs/fork.png);
  background-repeat: no-repeat;
  width: 152px;
  height: 40px;
  display: block;
  margin: 0;
  margin: 40px 0px;
}
/* footer */
footer {
  /* background-image: url(./assests/imgs/footer-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background: url(./assests/imgs/footer-background.jpg) center/cover no-repeat;
  padding: 35px 0px;
}
.footer-logo {
  width: 183px;
  height: 70px;
}
.line {
  margin: 0;
  rotate: 180deg;
  display: block;
  width: 2px;
  height: 153px;
  background: var(--color-text1);
  margin-right: 80px;
  margin-left: 80px;
}
.fp-right {
  margin-right: 20px;
}
.fp-left {
  margin-left: 20px;
}
.footer-flexdiv {
  display: flex;
  align-items: center;
}
.footer-p {
  color: var(--color-text1);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.first-email {
  display: flex;
  align-items: center;
}
.second-email {
  display: flex;
  align-items: center;
}
.copyright-div > p {
  color: var(--color-text1);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 200px;
}
/* ios button */

/* Estilo iOS */
/* .switch__container {
  margin: 30px auto;
  width: 120px;
} */
.switch {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.switch::before {
  content: "";
  position: absolute;
  top: 1.6px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: #fafafa;
  border-radius: 50%;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
input:checked + .switch::before {
  left: 20px;
  background: #fff;
}
